<div class="container-fluid principal">
    
    
    <section class="section-principal">
        <div class="container">
            <div class="container-paral" >
                <div class="item-paral">
                        <a routerLink='/melamina'>
                        <img src="assets/img/moira/pisos_melaminicos.png" alt="">
                    </a>
                </div>
                
            </div>
        </div>
        <!--end of container-->
        <div class="container">
                <div class="container-paral" >
                    <div class="item-paral">
                            <a routerLink='/prefinished'>
                                <img src="assets/img/moira/prefinished.png" alt="">
                            </a>
                            
                           
                    </div>
                    
                    
                </div>
        </div>
        <!--end of container-->
        <div class="container">
            <div class="container-paral" >
                <div class="item-paral">
                        <a routerLink='/vinilico' >
                                <img src="assets/img/moira/vinilico.png" alt="">
                        </a>
                        
                </div>                    
            </div>
        </div>
            <!--end of container-->
    </section>
    <!--end of section-->
   
   
    


</div>