<div class="container-fluid">
    
  <section class="text-white height-70">
      <img alt="Image" src="/assets/img/moira/fondo-header.jpg" class="bg-image " />
      <a class="navbar-brand" routerLink='/'>
          <img alt="Dalmiro Suarez" src="assets/img/moira/logo-nuevo.png" />
          
          
      </a>
      <h1>Pisos y soluciones</h1>
  </section>
  <section class="space-sm section-principal">
      <div class="container">
          <div class="container-paral" >
              <div class="item-paral">
                      <a routerLink='/floor'>
                      <img src="assets/img/moira/pisos.jpg" alt="">
                  </a>
              </div>
              
          </div>
      </div>
      <!--end of container-->
      <div class="container">
              <div class="container-paral" >
                  <div class="item-paral">
                          <a routerLink='/zocalo'>
                              <img src="assets/img/moira/zocalospisos.jpg" alt="">
                          </a>
                          
                         
                  </div>
                  
                  
              </div>
      </div>
      <!--end of container-->
      <div class="container">
          <div class="container-paral" >
              <div class="item-paral">
                      <a routerLink='/revest' >
                              <img src="assets/img/moira/revestimiento.jpg" alt="">
                      </a>
                      
              </div>                    
          </div>
      </div>
      <!--end of container-->

      <div class="container">
        <div class="container-paral" >
            <div class="item-paral">
                    <a routerLink='/varios' >
                            <img src="assets/img/moira/varios.jpg" alt="">
                    </a>
                    
            </div>                    
        </div>
    </div>
    <!--end of container-->

  </section>
  <!--end of section-->

  <section class="space-sm section-responsive">
      <div class="card mb-5">
              <ul class="list-group list-group-lg list-group-flush">

                  <li class="list-group-item d-flex justify-content-between">
                      <a routerLink='/floor'>Pisos</a>
           
                  </li>

                  <li class="list-group-item d-flex justify-content-between">
                      <a routerLink='/prefinished'>Zocalos y contramarcos</a>
                   
                  </li>

                  <li class="list-group-item d-flex justify-content-between">
                      <a routerLink='/vinilico'>Revestimientos de pared</a>
                  
                  </li>

                  <li class="list-group-item d-flex justify-content-between">
                    <a routerLink='/vinilico'>Varios</a>
                
                </li>

              </ul>
          </div>
          
  </section>
  <!--end of section-->
 
 
  


</div>