<section class=" d-flex justify-content-center">
    <div class="row col-10">
        <button type="button" class="btn btn-primary" routerLink='/new-article' >Agregar articulo</button>
    </div>

</section>

<section class=" d-flex justify-content-center" ngOnChange="showChange()">
<div class="row col-10">
<div class="col">
<table class="table table-borderless table-hover align-items-center">
    <thead>
        <tr>
            <th scope="col">Categoria</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Novedad</th>
            <th scope="col">Ofertas</th>            
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>

        
            <tr *ngFor="let article of articles" class="bg-white ">
                <th scope="row">
                    <a class="media align-items-center">
                        <!-- <img alt="Image" src="assets/img/logo-snapchat.svg" class="avatar rounded avatar-sm" /> -->
                        <div class="media-body">
                            <span class="h6 mb-0">{{ article.category }}</span>
                            <!-- <span class="text-muted">Social Media</span> -->
                        </div>
                    </a>
                </th>
                
                <td>{{ article.description }}</td>
                <td *ngIf="article.news">Si</td>
                <td *ngIf="!article.news">No</td> 
                <td *ngIf="article.offer">Si</td>
                <td *ngIf="!article.offer">No</td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-sm btn-outline-primary dropdown-toggle dropdown-toggle-no-arrow" type="button" id="dropdownMenuButton-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="icon-dots-three-horizontal"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-sm" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" [routerLink]="['/update-artic' , article.id ]" >Ver/Editar</a>
                            <!-- [routerLink]="['/update-prop' , property.id ]"   (click)="deleteCurso(property)"-->
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item delete-button" (click)="deleteArticle(article)" >Borrar</a>
                        </div>
                    </div>
                </td>                        
            </tr>  
                          
         
        
        

    </tbody>
</table>
</div>
<!--end of col-->
</div>
<!--end of row-->

</section>
<!--end of section-->


