
<div class="container-fluid">
    
    
    <section class="space-sm section-principal">
        <div class="container">
            <div class="container-paral" >
                <div class="item-paral">
                        <a routerLink='/product'>
                        <img src="assets/img/moira/productos.jpg" alt="">
                    </a>
                </div>
                
            </div>
        </div>
        <!--end of container-->
        <div class="container">
                <div class="container-paral" >
                    <div class="item-paral">
                            <a routerLink='/news'>
                                <img src="assets/img/moira/novedades.jpg" alt="">
                            </a>
                            
                           
                    </div>
                    
                    
                </div>
        </div>
        <!--end of container-->
        <div class="container">
            <div class="container-paral" >
                <div class="item-paral">
                        <a routerLink='/technical' >
                                <img src="assets/img/moira/areaTecnica.jpg" alt="">
                        </a>
                        
                </div>                    
            </div>
        </div>
            
    </section>

    <section class="space-sm section-responsive">
        <div class="card mb-5">
                <ul class="list-group list-group-lg list-group-flush">

                    <li class="list-group-item d-flex justify-content-between">
                        <a routerLink='/product'>Productos</a>
             
                    </li>

                    <li class="list-group-item d-flex justify-content-between">
                        <a routerLink='/news'>Novedades</a>
                     
                    </li>

                    <li class="list-group-item d-flex justify-content-between">
                        <a routerLink='/technical'>Area Tecnica</a>
                    
                    </li>

                   

                </ul>
            </div>
            
    </section>
    <!--end of section-->
    
    <!--end of container-->
    <!-- <hr class="style-five" > -->

    <section class="space-sm" >
            <div class="main-container">
                <h4>Visita nuestro negocio</h4>
          
          
                    <div class="map-dalmiro">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3172.802626056965!2d-59.14354268495596!3d-37.32350271392098!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95911f852a5c5913%3A0x1ce5f4d7c95dd3c4!2sDS+PISOS+-+Pisos+y+Soluciones!5e0!3m2!1ses!2sar!4v1544571976745" 
                            
                            allowfullscreen>
                        </iframe>
                    </div>
            </div>
                    
                    

            
    </section>

    <!-- <hr class="style-five" > -->

    <section id="contact" class="space-sm" >
            <div class="main-container">
                    <h4>Contactanos</h4>
                    
            </div>
            <app-contact></app-contact>
    </section>
   
    


</div>