.seccionT2{
    /*background-color:rgb(230, 120, 23);*/
    height:auto;
    border-top: 12px solid rgb(20,77,48);
    /*border-bottom: 2px solid rgb(20,77,48);*/
    width:100%;
    margin-top: 0px;
  }
  .seccionT2 ul{
    margin-top: 18px;
    margin-bottom: 18px;
  }

  .cat-texto{
    display: block;
    margin-left: 20px;
  }
  .cat-texto h3{
    font-family: 'Montserrat';
    color:rgb(0,0,0);
  }
  .principal {
    background-color: #ffad33;
}