
    <div class="nav-container">
        <div class="bg-dark navbar-dark " data-sticky="top" >
            <div class="container">
                <nav class="navbar navbar-expand-lg">
                    <a class="navbar-brand" routerLink='/'>
                        <img alt="Dalmiro Suarez" src="assets/img/moira/logo.png" />
                        
                        
                    </a>
                    
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="icon-menu h4"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a href="index.html" class="nav-link button hvr-wobble-bottom">Inicio</a>
                            </li>
    
                            <li class="nav-item">
                                <a href="index.html" class="nav-link button hvr-wobble-bottom">Productos</a>
                            </li>
    
                            <li class="nav-item">
                                <a href="index.html" class="nav-link button hvr-wobble-bottom">Novedades</a>
                            </li>
    
                            <li class="nav-item">
                                <a href="index.html" class="nav-link button hvr-wobble-bottom">Area Tecnica</a>
                            </li>
                            
                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link button hvr-wobble-bottom">Contacto</a>
                                
                            </li>
                            <li class="nav-item dropdown">
                                <a routerLink='/login' class="nav-link button hvr-wobble-bottom">Ingresar</a>
                                
                            </li>
                            <li class="nav-item dropdown">
                                <a routerLink='/private' class="nav-link button hvr-wobble-bottom">Administracion</a>
                                
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link button hvr-wobble-bottom" (click)="onLogout()"  >Salir</a>
                                
                            </li>
                        </ul>
    
                        
    
    
                    </div>
                    
                    <div class="info-nav col-lg-12 col-md-12 col-sm-12 " data-toggle="collapse" >
                        <h5>Pisos y soluciones</h5>
                        <p>
                            Dalmiro Suárez <br>
                            Av. España 408 - Tel.: (0249) 4423184 - Tandil <br>
                            dspisostandil@gmail.com  
                            <img src="assets/img/moira/icon-face.png" alt="Face">
                        </p>
                    </div>
                    <!--end nav collapse-->
                </nav>
            </div>
            <!--end of container-->
        </div>
    </div>

