@media (min-width: 768px) { 
  .info-nav > .info-dates {
    right: unset !important;
    display: block !important;
    float: right !important;
  }
  .info-nav {  
    display: block !important; 
    /* align-items: center !important; */
    justify-content: unset !important;
    /*align-self: flex-start;
    height: 12rem; */
  }
 }

 @media (min-width: 300px) {
  .info-nav > .info-dates  {
    /* margin-right: 11rem !important;  */
    /* float: unset !important; */
    display: none ;
  }
  .info-nav > p {
    width: 50% !important;
    /* padding-left: 15rem; */
    text-align: center;
    
  }
  .info-nav {  
    display: flex; 
    /* align-items: center !important; */
    justify-content: center;
    /*align-self: flex-start;
    height: 12rem; */
  }
 }

.navbar-brand > img {
    max-width: 10rem;
    height: 10rem;
}
.container-fluid {
  padding: 0;
  margin: 0;
}

.navbar > a {
  z-index: 1;
}

.nav-container{
  /* background-image: url("/assets/img/moira/fondo-header.jpg") !important; */
  border-bottom: 0.4rem solid green;
  min-height: unset !important;
}

.navbar-collapse {
  justify-content: flex-end;
  align-self: flex-start;
}

.nav-link {
  color: white !important;
}

.info-nav {
  align-self: flex-end;
    position: absolute;
    right: 0;
    width: 100%;
}

.info-nav > p > img {
  padding-left: 1.5rem;
}

.info-nav > p {
  width: 25%;
  float: right;
}

.info-nav > h5 {
  width: 20%;
  position: absolute;
  bottom: 0;
  z-index: 5;
}

.info-dates {
  color: white !important;
}

/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.1);
}

/* Wobble Bottom */
@-webkit-keyframes hvr-wobble-bottom {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}
@keyframes hvr-wobble-bottom {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}
.hvr-wobble-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
}
.hvr-wobble-bottom:hover, .hvr-wobble-bottom:focus, .hvr-wobble-bottom:active {
  -webkit-animation-name: hvr-wobble-bottom;
  animation-name: hvr-wobble-bottom;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.navbar-nav > li {
  z-index: 15;
}

.navbar-dark .navbar-toggler {
  z-index: 2;
}

.background-header { 
  background-image: url("/assets/img/chalita/fondo-header.jpg");
  background-position: center;
  height: 19.5rem; 
  width: 100%;
  border-style: solid;
  border-width: 5px;
  display: flex;
  align-items: center;
  border-bottom: unset !important;
  /* width: 100%;    
  background-size: cover;     */
}
/* .navbar .navbar-expand-lg .navbar-dark .bg-dark {
  background-image: url("/assets/img/chalita/fondo-header.jpg") !important;
  background-color: unset !important;
} */

.bg-dark{
  background-image: url("/assets/img/moira/fondo-header.jpg") !important;
  height: 19rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
    background-size: cover;
}

.container {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

.bg-images {
  
    /* The image used */
    background-image: url("/assets/img/moira/fondo-header.jpg");
  
    min-height: 17rem;
  
    /* Center and scale the image nicely */
    background-position: center;
  
    background-size: cover;
  
    /* Needed to position the navbar */
    position: relative;
    
    padding-top: 0;
}

.navbar-collapse {
  background-color: #eca87a;
    position: absolute;
    width: 100%;
}

.container > .navbar {
  padding-top: 0;
  height: 19rem !important;
  display: flex;
  align-items: flex-end;
}

.navbar-brand  {
  padding-left: 12rem;
}

