<section class="text-white height-70">
  <img alt="Image" src="/assets/img/moira/fondo-header.jpg" class="bg-image " />
  <a class="navbar-brand" routerLink='/'>
      <img alt="Dalmiro Suarez" src="assets/img/moira/logo-nuevo.png" />


  </a>
  <h1>Pisos y soluciones</h1>
</section>
<!--end of section-->
<article class="seccionT2 principal">
  <div class="container-fluid">
    <div class="row" *ngIf="articlesOffer.length > 0" >
      <div class="cat-texto"><h2>Ofertas</h2></div>
        <div *ngFor="let article of articlesOffer" >
          <div class="novedades" >
            <img class="col-sm-3 img-responsive" src="{{ article.images[0] }}">
              <h3>Oferta!</h3>
              <p>{{ article.description }}</p>
          </div>
          </div>
          





    </div>
    <div class="row" *ngIf="articlesNews.length > 0"  >
      <div class="cat-texto"><h2>Novedades</h2></div>
        <div *ngFor="let article of articlesNews" >
          <div class="col-10 novedades " >
            <img class="col-sm-3 img-responsive" src="{{ article.images[0] }}">
              <h3>Novedad!</h3>
              <p>{{ article.description }}</p>
          </div>
          </div>
          





    </div>
  </div>
</article>

<!-- <ng-template #novedad>
  <h1>Novedades</h1>

<div class="novedades" *ngIf="article.news" >
  <img class="col-sm-3 img-responsive" src="{{ article.images[0] }}">

  <p>{{ article.description }}</p>


</div>
</ng-template> -->