<section class="text-white height-70">
  <img alt="Image" src="/assets/img/moira/fondo-header.jpg" class="bg-image " />
  <a class="navbar-brand" routerLink='/'>
      <img alt="Dalmiro Suarez" src="assets/img/moira/logo-nuevo.png" />


  </a>
  <h1>Pisos y soluciones</h1>
</section>
<article class="seccionT2 letranegra principal">
 
  
  
  <div class="container-fluid">
    <div class="row">
      <div class="cat-texto"><h1>Videos instructivos</h1></div>
      
        <div class="areaTecnica col-sm-4 col-sm-offset-4">
                  <h3>Dumalock installation</h3>
                  
                      <a href="https://www.youtube.com/watch?v=8TEbjwemdq0" target="_blank" >Video</a> 
                      
                  
  
      </div>
    </div>
  </div>
  
  
    
  
    
    <div class="container-fluid"> 	
        <div class="row">
          <div class="cat-texto"><h1>Pdfs instructivos</h1></div>
          
               <div class="areaTecnica col-sm-4 col-sm-offset-4">
                <h3>Revestimiento de pared</h3>  
                <a href="https://firebasestorage.googleapis.com/v0/b/taul-fire.appspot.com/o/pdfs%2Ffolleto_duma.pdf?alt=media&token=42484b0d-632f-4cfc-847a-05f255375691" 
                 target="_blank" >Ver pdf</a>
              </div>
  
  
        </div>
    </div>
  
  </article>
