<article class="seccionT2 letranegra principal">
  <!--	<div class="etiqueta">
      <h3>Alquileres</h3>
    </div>-->
  
  
  <div class="container-fluid">
    <div class="row">
      <div class="cat-texto"><h3>Videos instructivos</h3></div>
      <!-- {% load embed_video_tags %}
      {% for x in videos %} -->
        <div class="areaTecnica col-sm-4 col-sm-offset-4">
                  <h3></h3>
                  <!-- {{ x.titulo }}
                    {% video x.video as my_video %}										 -->
                      <a href=""></a> 
                      <!-- {{ my_video.thumbnail }}
                      {% endvideo %} 
                    {{ my_video.url }}-->
                  
  
      </div>
        <!-- {% endfor %} -->
    </div>
  </div>
  
  
    
  
    
    <div class="container-fluid"> 	
        <div class="row">
          <div class="cat-texto"><h3>Pdfs instructivos</h3></div>
          
          <!-- {% for p in pdfs %} -->
               <div class="areaTecnica col-sm-4 col-sm-offset-4">
                  <a href=""><h3></h3></a>
              </div>
              <!-- {{ p.archivo.url }}
              {{ p.titulo }}
              {% endfor %}							 -->
  
  
        </div>
    </div>
  
  </article>
